<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="coffeemug_module2" frontName="module2">
            <module name="CoffeeMug_Module2" />
        </route>
    </router>
</config>